*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background:url(amazonasimagenreloj.jpg) rgb(2, 69, 18);
    background-size: cover;
    color: azure;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
    /* si quiero el reloj centrado simplaemente debo quitarle el comentado a el margin auto */

    margin:auto;
    align-items: center;
}

.widget{
    width: 40%;
    margin:32px;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: 'Oswald',arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0, 153, 153,.5);
    padding: 20px;
    width: 100%;
}

.reloj{
    font-family: 'oswald',arial;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 153, 153, .5);
}

.reloj .caja-segundos{
    display: inline-block;

}

.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}
